.mp{
    background-image: url("img/kw.jpg");
    background-size: cover;
  background-attachment: fixed;

}

.p2{
  background-image: url("img/gettyimages-548929107.jpg");
  background-size: cover;
background-attachment: fixed;

}

.page2{
  background-image: url("img/grad.png");
  background-size: cover;
background-attachment: fixed;

}

.page3{
  background-image: url("img/depositphotos_326329542-stock-video-hands-typing-on-keyboard-hands\ \(1\).jpg");
  background-size: cover;
background-attachment: fixed;

}